/* You can add global styles to this file, and also import other style files */

@import 'variables';

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  color: $black;
  font-size: 10px; // 10px to be able to use rem unit easily
}

body {
  margin: 0;
}

::selection {
  color: $white;
  background-color: $primaryColor;
}

p, a, button, div {
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.0rem;
  font-weight: $bold;
}

h1, h2 {
  margin-top: 3.0rem;
}

h3, h4, h5, h6 {
  margin-top: 2.0rem;
}

p, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: $bold;
}

em {
  font-style: italic;
}
