<div class="container grid-md">
  <h1 id="angular-boilerplate">Angular boilerplate</h1>
  <h2 id="getting-started">Getting started</h2>
  <p><code>npm install</code> is obviously a good start. After that, you can run:</p>
  <ul>
    <li><code>npm start</code> to start the project locally on <a href="">http://localhost:4200</a> (accessible through
      local network)</li>
    <li><code>npm run build</code> to build for production, files are generated in <code>dist/angular-boilerplate</code>
    </li>
    <li><code>npm lint</code> to lint (the default configuration has not been modified)</li>
  </ul>
  <h2 id="features">Features</h2>
  <h3 id="styling">Styling</h3>
  <p><a href="https://picturepan2.github.io/spectre">Spectre.css</a>, a lightweight CSS framework, is included with its
    set of pure CSS icons <a href="https://picturepan2.github.io/icons.css">Icons.css</a>.</p>
  <h3 id="resources-included">Resources included</h3>
  <h4 id="directives">Directives</h4>
  <ul>
    <li><code>AutofocusDirective</code>: dynamically focuses an element</li>
  </ul>
  <h4 id="pipes">Pipes</h4>
  <ul>
    <li><code>ConcatPipe</code></li>
    <li><code>ForObjectPipe</code>: iterates through the keys of an object</li>
    <li><code>JoinPipe</code></li>
    <li><code>LastElementPipe</code>: returns the last element of an array</li>
    <li><code>SplitPipe</code></li>
    <li><code>ToFixedPipe</code></li>
  </ul>
  <h2 id="structure">Structure</h2>
  <h3 id="-core">@core</h3>
  <p><code>CoreModule</code> is supposed to contain global services and models. There are a few other useful files:</p>
  <ul>
    <li><code>core.constants.ts</code> to store application constants (not to be confused with
      <code>environment.ts</code>)</li>
    <li><code>core.utils.ts</code> to store simple functions you want to be able to use everywhere</li>
  </ul>
  <h3 id="-theme">@theme</h3>
  <p><code>ThemeModule</code> is supposed to contain global resources which can be used in templates (components,
    directives, pipes, etc.). You can also find a folder named <code>styles</code> containing the following files:</p>
  <ul>
    <li><code>custom-spectre.css.scss</code> imports and configures Spectre.css</li>
    <li><code>main.scss</code> defines global styles</li>
    <li><code>variables.scss</code> stores global SCSS variables</li>
  </ul>
  <h3 id="-modules">@modules</h3>
  <p>This is supposed to contain modules which are likely to be imported in various places in the application.</p>
  <h3 id="configuration">Configuration</h3>
  <p>The project has been initialized with <strong>Angular CLI</strong>. The following configurations have then been
    added or modified:</p>
  <ul>
    <li><code>.vscode/launch.json</code> to be able to attach the debugger to <strong>Chrome</strong></li>
    <li>routing: nonexistent routes are directed to home and scroll position restoration is enabled</li>
  </ul>
</div>
