<div class="container grid-lg my-2">
  <p i18n><a [href]="isEnglish ? 'fr' : '../'">Français</a></p>

  <h1 i18n class="text-center" id="angular-boilerplate">Angular boilerplate</h1>
  <p i18n class="text-center">Angular 11 boilerplate with <a href="https://picturepan2.github.io/spectre" target="_blank">Spectre.css</a>, i18n, static prerendering and some common
    resources.</p>

  <h2 i18n id="getting-started">Getting started</h2>
  <p i18n>Install everything with <code>npm install</code>, then:</p>
  <ul>
    <li i18n><code>npm start</code> to start the project locally on <a href="http://localhost:4200">http://localhost:4200</a> (accessible through
      local network)</li>
    <li i18n><code>npm run start:fr</code> does the same using the French locale</li>
    <li i18n><code>npm lint</code> to lint (the default configuration has not been modified)</li>
    <li i18n><code>npm run extract</code> to extract the source language file in <b>src/locale</b></li>
    <li i18n><code>npm run build</code> to build for production, files are generated in <b>dist/angular-boilerplate/browser</b></li>
    <li i18n><code>npm run prerender</code> does the same but it also prerenders routes defined in the <b>prerender</b> configuration in <b>angular.json</b></li>
  </ul>

  <h2 i18n id="features">Features</h2>
  <h3 i18n id="styling">Styling</h3>
  <p i18n><a href="https://picturepan2.github.io/spectre" target="_blank">Spectre.css</a>, a lightweight CSS framework, is included with its
    set of pure CSS icons <a href="https://picturepan2.github.io/icons.css" target="_blank">Icons.css</a>.</p>
  <h3 i18n id="i18n">i18n</h3>
  <p i18n>i18n is done with the native package. It is currently configured to be in English in the source code and to have a
    French translation. The exact configuration is detailed below.</p>
  <h3 i18n id="common-resources">Common resources</h3>
  <h4 i18n id="directives">Directives</h4>
  <ul>
    <li i18n><code>AutofocusDirective</code>: dynamically focuses an element</li>
  </ul>
  <h4 i18n id="pipes">Pipes</h4>
  <ul>
    <li i18n><code>ConcatPipe</code></li>
    <li i18n><code>ForObjectPipe</code>: iterates through the keys of an object</li>
    <li i18n><code>JoinPipe</code></li>
    <li i18n><code>LastElementPipe</code>: returns the last element of an array</li>
    <li i18n><code>SplitPipe</code></li>
    <li i18n><code>ToFixedPipe</code></li>
  </ul>

  <h2 i18n id="structure">Structure</h2>
  <h3 i18n id="-core">@core</h3>
  <p i18n><code>CoreModule</code> is supposed to contain global services and models. There are a few other useful files:</p>
  <ul>
    <li i18n><b>core.constants.ts</b> to store application constants (not to be confused with
      <b>environment.ts</b>)</li>
    <li i18n><b>core.utils.ts</b> to store simple functions you want to be able to use everywhere</li>
  </ul>
  <h3 i18n id="-theme">@theme</h3>
  <p i18n><code>ThemeModule</code> is supposed to contain global resources which can be used in templates (components,
    directives, pipes, etc.). You can also find a folder named <b>styles</b> containing the following files:</p>
  <ul>
    <li i18n><b>custom-spectre.css.scss</b> imports and configures Spectre.css</li>
    <li i18n><b>main.scss</b> defines global styles</li>
    <li i18n><b>variables.scss</b> stores global SCSS variables</li>
  </ul>
  <h3 i18n id="-modules">@modules</h3>
  <p i18n>This is supposed to contain modules which are likely to be imported in various places in the application.</p>

  <h2 i18n id="configuration">Configuration</h2>
  <p i18n>The project has been initialized with <i>Angular CLI</i> and then modified.</p>
  <h3 i18n id="debugging">Debugging</h3>
  <p i18n><b>.vscode/launch.json</b> allows to attach the debugger to <i>Chrome</i>.</p>
  <h3 i18n id="i18n">i18n</h3>
  <p i18n>i18n has been configured like this:</p>
  <ul>
    <li i18n>the source code is in English and there is a French translation</li>
    <li i18n>language files are stored in <b>src/locale</b></li>
    <li i18n>the build command builds all the locales configured</li>
    <li i18n>the base HREF is empty for the source code language and set as the language code for the translations</li>
    <li i18n>a missing translation throws an error and stops the build</li>
  </ul>
  <h3 i18n id="routing">Routing</h3>
  <p i18n>Nonexistent routes are redirected to home and scroll position restoration is enabled.</p>
</div>
