@import 'variables';

:host {
  .title {
    text-align: center;
  }

  .row-full-spaced {
    margin-bottom: $gutterL;

    &.dark {
      padding: $gutter;
      box-shadow: $shadow;
      border-radius: $radius;
      background-color: $primaryColor;
    }
  }
}
